
<p {{action 'noteShow'}}>
  {{question.author}} ASKS: <br> - {{question.content}}
<hr>
</p>
{{#if isNoteShowing }}
  <p {{action 'noteHide'}}> Additional Notes: {{question.note}}</p>
{{else}}
  <!-- <button {{action 'noteShow'}}>Show Note</button> -->
{{/if}}
<br>
<hr>
<h2> Answers </h2>
<ul>
  {{#each sortedAnswers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</ul>
