<li>
  {{#link-to 'question' question.id}}
    {{question.author}} asks: <br> - {{question.content}} {{/link-to}}

  {{#if isNoteShowing }}
    <p {{action 'noteHide'}}> Additional Notes: {{question.note}}</p>
  {{else}}
    <!-- <button {{action 'noteShow'}}>Show Note</button> -->
  {{/if}}
  <!-- {{update-question question=question update="update"}}
  <br> -->
</li>
