<li>
  {{#link-to 'question' question.id}}
    {{question.author}} asks: {{question-popularity question}} {{question-unanswered question}} <br> - {{question.content}} {{/link-to}}
  {{#if isNoteShowing }}
    <p {{action 'noteHide'}}> Additional Notes: {{question.note}}</p>
  {{else}}
    <!-- <button {{action 'noteShow'}}>Show Note</button> -->
  {{/if}}
  <!-- {{update-question question=question update="update"}}
  <br> -->
  <br>
  <button {{action 'addToFavorites' question}}> Add to Favorites </button>
</li>
