
<h4>More information about {{model.author}}'s Query: {{model.content}}</h4>

<h2 {{action 'noteHide'}}> {{model.note}} </h2>

{{update-question question=model update="update"}}

{{question-detail question=model}}
